.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="/") 来比惨!
      .container.nav-collapse
        %ul.nav
          %li= link_to '比惨', '/pk'
          %li= link_to '参战', '/join'
          %li= link_to '海选', '/choose'
          %li= link_to '意见', '/faq'
          %li= link_to '投稿', new_post_path
